mcr-tie/src/main/resources/ie/mater/search/patient/Mater.SOAP.Search.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2016 Mater Care Record
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://10.78.8.19:57772/csp/samples" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://10.78.8.19:57772/csp/samples">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://10.78.8.19:57772/csp/samples">
            <s:element name="byName">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="name" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="byNameResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="byNameResult" type="s0:ArrayOfPatientListArrayPatientListArray"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ArrayOfPatientListArrayPatientListArray">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="PatientListArray" nillable="true" type="s0:PatientListArray"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="PatientListArray">
                <s:sequence>
                    <s:element name="PatientPIN" type="s:string"/>
                    <s:element name="PatientEpNo" type="s:string"/>
                    <s:element minOccurs="0" name="MRNNumber" type="s:string"/>
                    <s:element minOccurs="0" name="address">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="150"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="dateOfBirth" type="s:string"/>
                    <s:element minOccurs="0" name="gender" type="s:string"/>
                    <s:element minOccurs="0" name="name">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="80"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="IHINumber" type="s:string"/>
                    <s:element minOccurs="0" name="source" type="s:string"/>
                    <s:element minOccurs="0" name="sourceId" type="s:string"/>
                    <s:element minOccurs="0" name="Location" type="s:string"/>
                    <s:element minOccurs="0" name="Specialty" type="s:string"/>
                    <s:element minOccurs="0" name="Consultant" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="bySetting">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="location" type="s:string"/>
                        <s:element minOccurs="0" name="Age" type="s:string"/>
                        <s:element minOccurs="0" name="Gender" type="s:string"/>
                        <s:element minOccurs="0" name="totalPatients" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="bySettingResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="bySettingResult" type="s0:ArrayOfPatientListArrayPatientListArray"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </types>
    <message name="byNameSoapIn">
        <part name="parameters" element="s0:byName"/>
    </message>
    <message name="byNameSoapOut">
        <part name="parameters" element="s0:byNameResponse"/>
    </message>
    <message name="bySettingSoapIn">
        <part name="parameters" element="s0:bySetting"/>
    </message>
    <message name="bySettingSoapOut">
        <part name="parameters" element="s0:bySettingResponse"/>
    </message>
    <portType name="PatientSearchServiceSoap">
        <operation name="byName">
            <input message="s0:byNameSoapIn"/>
            <output message="s0:byNameSoapOut"/>
        </operation>
        <operation name="bySetting">
            <input message="s0:bySettingSoapIn"/>
            <output message="s0:bySettingSoapOut"/>
        </operation>
    </portType>
    <binding name="PatientSearchServiceSoap" type="s0:PatientSearchServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="byName">
            <soap:operation soapAction="http://10.78.8.19:57772/csp/samples/Ripple.PatientSearchService.byName" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="bySetting">
            <soap:operation soapAction="http://10.78.8.19:57772/csp/samples/Ripple.PatientSearchService.bySetting" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="PatientSearchService">
        <port name="PatientSearchServiceSoap" binding="s0:PatientSearchServiceSoap"/>
    </service>
</definitions>