mcr-tie/src/main/resources/ie/mater/search/patient/Mater.SOAP.Search.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://10.78.8.19:57772/csp/samples" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://10.78.8.19:57772/csp/samples">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://10.78.8.19:57772/csp/samples">
            <s:element name="byName">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="name" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="byNameResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="byNameResult" type="s0:ArrayOfPatientListArrayPatientListArray"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ArrayOfPatientListArrayPatientListArray">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="PatientListArray" nillable="true" type="s0:PatientListArray"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="PatientListArray">
                <s:sequence>
                    <s:element name="PatientPIN" type="s:string"/>
                    <s:element name="PatientEpNo" type="s:string"/>
                    <s:element minOccurs="0" name="MRNNumber" type="s:string"/>
                    <s:element minOccurs="0" name="address">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="150"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="dateOfBirth" type="s:string"/>
                    <s:element minOccurs="0" name="gender" type="s:string"/>
                    <s:element minOccurs="0" name="name">
                        <s:simpleType>
                            <s:restriction base="s:string">
                                <s:maxLength value="80"/>
                            </s:restriction>
                        </s:simpleType>
                    </s:element>
                    <s:element minOccurs="0" name="IHINumber" type="s:string"/>
                    <s:element minOccurs="0" name="source" type="s:string"/>
                    <s:element minOccurs="0" name="sourceId" type="s:string"/>
                    <s:element minOccurs="0" name="Location" type="s:string"/>
                    <s:element minOccurs="0" name="Specialty" type="s:string"/>
                    <s:element minOccurs="0" name="Consultant" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="byWard">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="location" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="byWardResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="byWardResult" type="s0:ArrayOfPatientListArrayPatientListArray"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </types>
    <message name="byNameSoapIn">
        <part name="parameters" element="s0:byName"/>
    </message>
    <message name="byNameSoapOut">
        <part name="parameters" element="s0:byNameResponse"/>
    </message>
    <message name="byWardSoapIn">
        <part name="parameters" element="s0:byWard"/>
    </message>
    <message name="byWardSoapOut">
        <part name="parameters" element="s0:byWardResponse"/>
    </message>
    <portType name="PatientSearchServiceSoap">
        <operation name="byName">
            <input message="s0:byNameSoapIn"/>
            <output message="s0:byNameSoapOut"/>
        </operation>
        <operation name="byWard">
            <input message="s0:byWardSoapIn"/>
            <output message="s0:byWardSoapOut"/>
        </operation>
    </portType>
    <binding name="PatientSearchServiceSoap" type="s0:PatientSearchServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="byName">
            <soap:operation soapAction="http://10.78.8.19:57772/csp/samples/Ripple.PatientSearchService.byName" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="byWard">
            <soap:operation soapAction="http://10.78.8.19:57772/csp/samples/Ripple.PatientSearchService.byWard" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="PatientSearchService">
        <port name="PatientSearchServiceSoap" binding="s0:PatientSearchServiceSoap"/>
    </service>
</definitions>